/.idea
youtube_29_dias_angular_17/**/node_modules/
youtube_29_dias_angular_17/dia_1/.angular/
youtube_29_dias_angular_17/dia_1/.idea/
youtube_29_dias_angular_17/dia_1/.vscode/
youtube_29_dias_angular_17/dia_2/.angular/
youtube_29_dias_angular_17/dia_2/.idea
youtube_29_dias_angular_17/dia_2/.vscode/
